body {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

.product-index{
  margin: 0;
  padding: 10px 50px;
}

.cell {
  margin-bottom: 30px;
}
.cell h2, p {
  padding-left: 10px;
}
.parent {
display: grid;
grid-template-columns: 200px 1fr;
grid-template-rows: 100px 1fr 50px;
grid-column-gap: 20px;
grid-row-gap: 20px;
height: 100vh;
}

.div1 { grid-area: 1 / 1 / 2 / 5; }
.div2 { grid-area: 2 / 1 / 3 / 2; }
.div3 { grid-area: 2 / 2 / 3 / 4; }
.div4 { grid-area: 3 / 1 / 4 / 5; }
